.filter-container {
  width: 100%;
  background-color: #0f171f;
  border-radius: 4px;
  padding: 2rem 4rem;
}

.filter-container form .group {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
}

.filter-container form  {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}